module.exports = {
    projects: [
        {
            owner: 'deseretdigital',
            repo: 'hive-api',
            build: [
                {
                    proc: 'composer',
                    args: ['install', '-q', '--working-dir=application/'],
                    env: { SYMFONY_ENV: 'stage' }
                },
                {
                    proc: 'chmod',
                    args: ['-R', 'a+rwx', 'application/app/cache']
                },
                {
                    proc: 'chmod',
                    args: ['-R', 'a+rwx', 'application/app/logs']
                }
            ]
        },
        {
            owner: 'deseretdigital',
            repo: 'hive-ui',
            build: [
                {
                    proc: 'yarn',
                    args: ['install']
                },
                {
                    proc: 'yarn',
                    args: ['build']
                },
        {
            proc: 'gulp',
            args: ['build']
        }
            ]
        }
    ],
    apacheConfigDir: '/etc/apache2/sites-dynamic',
    buildPath: `/var/dynamic/hive-branches`,
    stageDomain: 'stage.hive.pub',
    testDomain: 'test.hive.pub',
    stageDocRoot: '',
    apacheLogDir: '/var/log/apache2'
};
